body {
    background-color: #15151e;
    padding: 200px;
}

.editor {
    display: flex;
    flex-direction: column;
    background-color: #2e2d33;

    &__text {
        font-size: 26px;
        font-weight: 400;
        font-family: Arial serif;
        color: white;
    }
}