body {
    font-family: Arial, serif;
    background-color: #eaeaea;
    padding: 10px;
}

.editor {
    background-color: white;
    border-radius: 7px;
    width: 100%;
}

.block {
    padding: 5px;
    font-size: 18px;
}

.caret {
    position: absolute;
    width: 3px;
    border-radius: 10px;
    background-color: #6a78ff;
    pointer-events: none;
    transition: left .12s, top .12s;
}

.text {
    background-color: #e3e5ff;
}